<div class="row">
  <div class="col-md-12">
    <h2>Products</h2>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Price</th>
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.amount}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Shipping Address</h2>
  </div>

  <div class="col-md-12">
    <app-choose-address (id)="getNewAddressId($event)" ></app-choose-address>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <button (click)="submitOrder()"  class="btn btn-success btn-group-justified btn-lg u-margin-top">
      Submit Order
    </button>
  </div>
</div>
