<button (click)="test()">skurwiel</button>

<div class="row">
  <div class="col-md-12">
    <h2>Products</h2>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Price</th>
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.amount}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Shipping Address</h2>
  </div>

<app-choose-address ></app-choose-address>
  <!--<form #newCustomer="ngForm" (ngSubmit)="SubmitOrder()">-->
    <!--<div class="form-row">-->
      <!--<div class="form-group col-md-6">-->
        <!--<label for="name">Name</label>-->
        <!--<input [(ngModel)]= "name"-->
               <!--name="name"-->
               <!--type="text"-->
               <!--class="form-control"-->
               <!--id="name"-->
               <!--placeholder="Adam"-->
               <!--required-->
               <!--#nameInput="ngModel"-->
               <!--ngModel>-->
      <!--</div>-->


    <!--</div>-->
    <!--<div class="form-row">-->
    <!--<div class="form-group col-md-6">-->
      <!--<label for="surname">Surname</label>-->
      <!--<input [(ngModel)]= "surname"-->
             <!--name="surname"-->
             <!--type="text"-->
             <!--class="form-control"-->
             <!--id="surname"-->
             <!--placeholder="Kowalski"-->
             <!--required-->
             <!--#surnameInput="ngModel"-->
             <!--ngModel>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group col-md-6">-->
      <!--<label for="address">address</label>-->
      <!--<input [(ngModel)]= "placeId"-->
             <!--name="address"-->
             <!--type="text"-->
             <!--class="form-control"-->
             <!--id="address"-->
             <!--placeholder="Kowalski"-->
             <!--required-->
             <!--#surnameInput="ngModel"-->
             <!--ngModel>-->
    <!--</div>-->


    <!--<div class="form-row col-md-12">-->
      <!--<button type="submit" class="btn btn-primary" [disabled]="!newCustomer.form.valid  || !placeId">Submit order</button>-->
    <!--</div>-->
  <!--</form>-->
</div>
