<table class="table table-striped">
  <thead>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>Price</th>
    <th>Amount</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.amount}}</td>
    <td>
      <button class="btn btn-link no-padding" [disabled]="product.amount === 0" (click)="addToCart(product.id)">Add to cart</button>
      <!-- <input type="checkbox" [id]=product.id class="productCheckbox"
             [disabled]="product.amount === 0" (change)="updateChecked(product.id, $event)" /> -->
    </td>
  </tr>
  </tbody>
</table>

<button class="btn btn-primary center-block" [disabled]="!(checked.length > 0)" (click)="submitOrder()">Submit order</button>
