<app-product-filter
  [productsName]="productsName"
  (filterResult)="getFilterResult($event)"></app-product-filter>

<br/>

<div class="dropdown sort-menu "
    [ngClass]="{'open': isInDropdown}">
  <div>Sort by: </div>
  <button (click)="toggleStateDropdown($event)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
    {{chosenSort}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a (click)="PriceSort()">Price</a></li>
    <li><a (click)="alphabeticSort()">Alphabet</a></li>
  </ul>
  <button [ngClass]="{'arrow': isArrowUp}" (click)="flipArrow()"><span class="caret"></span></button>
</div>
<br/>


<table class="table table-striped">
  <thead>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>Price</th>
    <th>Amount</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of productsToShow">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.amount}}</td>
    <td>
      <button class="btn btn-link no-padding" [disabled]="product.amount === 0" (click)="addToCart(product.id)">Add to cart</button>
      <!-- <input type="checkbox" [id]=product.id class="productCheckbox"
             [disabled]="product.amount === 0" (change)="updateChecked(product.id, $event)" /> -->
    </td>
  </tr>
  </tbody>
</table>

