.detailwrapper {

}
.details {
  display: block;
  opacity: 0;
  transition: 1s;
}
.expanded {
  opacity: 1;
  height: 200px;
}
.row {
  padding: 5px;
  margin: 10px;
  border: 1px solid grey;
  justify-content:  center;
}
.name .surname {
  display: inline-block;
  margin: 5px;
}

