<table class="table table-striped">
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Price</th>
      <th>Add</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{order.id}}</td>
      <td>{{order.name}}</td>
      <td>{{order.price}}</td>
      <td><input type="checkbox" [checked]="order.status" (change)="order.status = !order.status"></td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary center-block" (click)="submitOrder()">Submit order</button>

