<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Date</th>
    <th>Products</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders">
    <td>{{order.id}}</td>
    <td>{{order.date}}</td>
    <td *ngFor="let product of order.products">
      <div>{{product.name}}</div>
    </td>
  </tr>
  </tbody>
</table>

<div class="orders-content" [ngClass]="{'open': bolin}">
  <p>Content</p>
  <div class="orders-additional">
    <p>content 2</p>
    <p>content 3</p>
    <p>content 4</p>
    <p>content 5</p>
  </div>
  <button class="orders-btn" (click)="test()">Add content</button>
</div>
