<nav class="navbar navbar-inverse "> <!-- navbar-fixed-top -->
  <div class="container">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              (click)="toggleState()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Order</a>
    </div>
    <div class="collapse navbar-collapse"
         [ngClass]="{'in': isIn}">
      <ul  class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/list">List</a>
        </li>
        <li class="dropdown"
            [ngClass]="{'open': isInDropdown}">
          <a href="#" (click)="toggleStateDropdown($event)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
            Operations
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a routerLink="/newProduct">Add product</a></li>
            <li><a routerLink="/orders">View orders</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="cartBtn" (click)="changeCart(true)">Cart</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-cart [showCart]="isCartOpen" [changeCartStatus]="changeCart.bind(this)"></app-cart>
