<div class="cart" [ngClass]="{'open': showCart}" >
  <div class="cart_content">
    <div class="cart_header">
      <h2>CART</h2>
    </div>
    <span *ngIf="!cartContent">
      <div class = "cart_header">Your cart is empty</div>
    </span>

    <div *ngFor="let elem of cartContent">

      <div class="cart_item" [id] = elem.id>
        <div class="item_name"> {{elem.name}} </div>
        <div class="item_data">
          <input [(ngModel)]="elem.amount" class="item_amount" type="number" min="1" (change) = "updateStorage()"/>
          <div class="item_price">x {{elem.price}}zł</div>
        </div>
        <button class="deleteBtn cart_btn" type="button" (click) = "deleteItem(elem.id)"> Delete </button>
      </div>

    </div>

    <div class="cart_header">
      <div class="item_name"> Total price: </div>
      <div class="item_price"> {{totalPrice}}zł</div>
    </div>

    <div>
      <button (click)="submitOrder()">Submit order</button>
    </div>

    <button type="button" class="cart_close cart_btn" (click)= "closeCart()">X</button>
  </div>
</div>

<button type="button" (click)="save()">save</button>

<button type="button" (click)="get()">get</button>

<button (click)="merge()"> merge</button>
