.cart {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: 300ms;
  z-index: 1;
}

.cart.open {
  visibility: visible;
  background: rgba(0, 0, 0, 0.5);
}

.cart_content {
  position: absolute;
  padding: 20px;
  left: 100%;
  width: 50%;
  height: 100%;
  background: white;
  transition: 700ms;
}

.cart.open .cart_content {
  left: 50%;
}

@media screen and (max-width: 1024px) {
  .cart_content {
    width: 75%;
  }
  .cart.open .cart_content {
    left: 25%;
  }
}

@media screen and (max-width: 760px) {
  .cart_content {
    width: 100%;
  }
  .cart.open .cart_content {
    left: 0%;
  }
}



.cart_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #999999;
  text-align: center;
}

.cart_item:hover {
  background-color: aliceblue;
}

.cart_header {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.item_name, .item_data {
  align-content: center;
  align-items: center;
  width: 30%;
}

.item_amount {
  width: 40px;
}

.item_price {
  text-align: left;
  padding-left: 5px;
}

.item_name, .item_data, .item_amount, .item_price {
  display: inline-block;
}

.deleteBtn {
  height: 20px;
  color: brown;
}

.cart_btn {
  border: none;
  background: transparent;
}

.cart_btn:focus {
  outline: none;
  border: 1px solid red;
  color: red;
}

.cart_close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  font-weight: bold;
}
